{% load static %}
<html>
    <head>
        <title>Rona Plant</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <h1>Rona Plant</h1>
        <h2>Msci Environmental Geology with a Year in Computer Science</h2>
    <body>
        <p>Current MSci student graduating in Summer 2021 <br>
          During my time at university I have undertaken a <br>
          variation of modules including topics in hydrogeology, <br>
          engineering geology, environmental pollution and <br>
          sedimentology, as well as field skills development <br>
          involving residentials in Northern Scotland, South-West <br>
          England and Southern Spain. I have a keen interest in the <br>
          environmental sector, thus have developed my skills and <br>
          knowledge accordingly. I have completed various projects <br>
          taking advantage of my competent IT skills using specialised <br>
          software including ArcGIS, Groundwater Vistas and SPSS. <br>
          This led me to conduct environmental surveys and study soil <br>
          samples as a major element of my dissertation.</p>
        <p>It actually works, hurray</p>
    </body>
    <h3>Education</h3>
    <h4>University & College</h4>

    <p>University of Birmingham: 2016 - 2021 <br>
MSci Environmental Geology with a Year in Computer Science
</p>
<br>
King Edward VI College, Stourbridge: 2014 - 2016 <br>
Geology, Geography and Art <br>
AS Level Critical Thinking <br>
Level 3 Mathematical Studies <br>
Level 3 Extended Project Qualification <br>

<strong>Work Experience</strong>
<p> Dirty Martini, Birmingham <br>
    Cloakroom Attendant: June 2019 - present <br>
    Through working as the cloakroom attendant <br>
    at this popular cocktail bar, I have maintained <br>
    a high level of organisation and efficiency whilst <br>
    building relationships with regular customers and <br>
    delivering excellent customer service. <br>



      <ul><li>first bulletpoint</li>
        <li>second bulletpoint</li></ul>
<a href="https://www.instagram.com/art_ronaplant/">To my art page</a><br>
<a href="https://www.linkedin.com/in/rona-plant/">To my LinkedIn</a>
<br>
<br>
<br>
<br>
     <p>Published: 27.08.2020</p>
     <p>Last Updated: 27.08.2020</p>

</html>
