<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lavender;
}

h1 {
  color: grey;
  text-align: center;
  font-family: century gothic;
}
h2 {
  color: steelblue;
  text-align: center;
  font-family: arial;
}

p {
  font-family: bookman old style;
  font-size: 20px;
  text-indent: 50px;
}
</style>
</head>
<body>

<h1>Rona Plant</h1>
<h2>MSci Environmental Geology with a Year in Computer Science</h2>
<p>Current MSci student graduating in Summer 2021 - During my time at university I have undertaken a variation of modules including topics in hydrogeology, engineering geology, environmental pollution and sedimentology, as well as field skills development involving residentials in Northern Scotland, South-West England and Southern Spain. I have a keen interest in the environmental sector, thus have developed my skills and knowledge accordingly. I have completed various projects taking advantage of my competent IT skills using specialised software including ArcGIS, Groundwater Vistas and SPSS. This led me to conduct environmental surveys and study soil samples as a major element of my dissertation.</p>

</body>

      <ul><li>first bulletpoint</li>
        <li>second bulletpoint</li></ul>
<a href="https://www.instagram.com/art_ronaplant/">To my art page</a><br>
<a href="https://www.linkedin.com/in/rona-plant/">To my LinkedIn</a>
<br>
<br>
<br>
<br>
     <p>Published: 27.08.2020</p>
     <p>Last Updated: 27.08.2020</p>
</html>
