<html>
    <head>
        <title>Rona's Webpage</title>
    </head>
    <h2>Welcome to my page</h2>
    <body>
        <p>Welcome to my webpage :)</p>
        <p>It actually works, hurray</p>
    </body>
    <h3>sub-heading</h3>
    <h4>another sub-heading</h4>
{{ posts_list }}
    {% for post in posts %}
             <div>
                 <p>published: {{ post.published_date }}</p>
                 <h2><a href="">{{ post.title }}</a></h2>
                 <p>{{ post.text|linebreaksbr }}</p>
             </div>
         {% endfor %}

<strong>HELLO</strong>
    <p>This is a paragraph of text.<br>
      Here is a second line of text.<br>
      Did this work?</p>

      <ul><li>first bulletpoint</li>
        <li>second bulletpoint</li></ul>
<a href="https://www.instagram.com/art_ronaplant/">To my art page</a><br>
<a href="https://www.linkedin.com/in/rona-plant/">To my LinkedIn</a>
<br>
<br>
<br>
<br>
     <p>Published: 27.08.2020</p>
     <p>Last Updated: 27.08.2020</p>

</html>
